body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}

.end{
    text-align: end;
    font-size: 80%;
    padding-right: 4%;

}

.complete-true-show{
    display: none!important
 }
#itemNumber{
    margin: 30px;
    padding: 5px;
    padding-left: 25px ;
    background-color: black;
    color: blanchedalmond;
    margin-left: 100px;
    margin-right: 100px;
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
    }

    .item {
        flex:1;
        padding: 1em;
    }

}
.toggel{
    margin-left: 100px;
    margin-right: 100px;   
}
.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;
    margin-left: 100px;
    margin-right: 100px;

.card{
    border: 1px solid rgb(177, 173, 173);
    padding: 30px;
    margin-right: 20px;
    border-radius: 3%;
}    
    form {

        display:flex;
        flex-direction:column;
        margin-right: 2em;

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }
    }
    .btn, button{
        background-color:rgb(38, 98, 226);
        color: white;
        padding: 8px;
        width: fit-content;
        border-radius: 8%;
    }
    // .list-group{
    //     border: 1px solid rgb(177, 173, 173);
    // // border-radius: 5%;  

    .list-group-item{
        border-radius: 5%;
        // padding: 10px;
        border: 1px solid rgb(177, 173, 173);
        // padding-left: 20px;
        // padding-right: 20px;
        border: 1px solid rgb(40, 212, 161);
        // background-color: green;
        
            // align-items: center;
            // display:flex;
            // flex-direction:row;
            // font-size: .75em;
            margin: 1em 0;
            width: 400px;
  
        
.firstRow{

border-bottom: 1px solid #cecccc;
padding: 2%;
margin: 0%;

// div{
//     width: fit-content;
//     // display: inline-block;
//     // padding-right: 30px;
//     // justify-content:space-around;
//     // align-items: end;
// }
          
.complete-true {
    // span {
      background: rgb(238, 55, 86);
      &:hover {
        background: rgb(81, 126, 129);
     }
    // }
}

.complete-false {
    // span {
      background: rgb(5, 138, 56);
      &:hover {
         background: rgb(81, 126, 129);
      }
    // }
}

button{
    padding: 0;
    height: 20px;
    width: 20px;
    
}

}
.firstRow col{
display: inline-flex;
flex-direction: row;
}
.end{
    text-align: end;
    font-size: 80%;
    padding-right: 4%;

}
.textItem{
    padding-left: 4%;
    font-size: 125%;
}

           

    }
    // }
    // ul {
    //     list-style-type:none;
    //     margin:0;
    //     padding:0;

    //     li {

    //         align-items: center;
    //         display:flex;
    //         flex-direction:row;
    //         font-size: .75em;
    //         margin: .75em .5em;

    //         &.complete-true {
    //           span {
    //             background: pink;
    //             text-decoration:line-through;
    //             &:hover {
    //                background: seagreen;
    //             }
    //           }
    //         }

    //         span {
    //             background: #e0e0e0;
    //             cursor:pointer;
    //             &:hover {
    //                 background: pink;
    //             }
    //         }
    //          span, input {
    //              border: .5px solid #eee;
    //              display:inline-block;
    //              padding: .2em .25em;
    //              width: 300px;
    //          }

    //         button {
    //             background: transparent;
    //             border:none;
    //             color:rgb(35, 35, 223);
    //             cursor:pointer;
    //             padding:0;
    //             margin: 0 .75em;
    //         }
            

    //     }
    // }

}



.Pagination{
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;

    ul {
        list-style-type:none;
        margin:0;
        padding:0;

        li {

            padding-top: 1%;
            padding: 4%;
            border: solid black 1px;
            margin: 4px;

                cursor:pointer;
                &:hover {
                    background: pink;
                }


        }
    }




}